<%= link_to bar_path(bar), class:"text-dark text-decoration-none" do %>
  <div class="card-photo" style="background-image: url(<%= cl_image_path bar.photos.first.key %>); background-size: cover; background-position: center;">
  </div>
  <div class="card-details">
    <div class="card-details-item card-details-header">
      <h4><%= bar.name %></h4>
      <div class="bar-distance"><i class="fas fa-map-marker-alt"></i> <%= sensible_distance(bar.distance) %></div>
    </div>
    <div class="card-details-item">
      <div class="card-details-item-left">
        <div class="bar-ratings">
          <% if bar.average_rating %>
            <% bar.average_rating.floor.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% if bar.average_rating % 1 > 0 %>
              <% if bar.average_rating % 1 < 0.25 %>
                <i class="fas fa-star"></i>
              <% elsif bar.average_rating % 1 > 0.75 %>
                <i class="far fa-star"></i>
              <% else %>
                <i class="fas fa-star-half-alt"></i>
              <% end %>
            <% end %>
            <% (5 - bar.average_rating.ceil).times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% else %>
            <p>Pas encore d'évaluation</p>
          <% end %>
        </div>
        <p><i class="fas fa-user-friends"></i>&nbsp&nbsp<%= bar.capacity %> max</p>
      </div>
      <div class="bar-price">
        <p><%= bar.price %>€</p>
        <p class="small">/guest</p>
      </div>
    </div>
  </div>
<% end %>
