<%#
  Usage:

  <%= render 'components/button', text: "ButtonText", class: "Classes", form: "Form_id", type: "Type" % >
%>

<% text = yield.presence || local_assigns.fetch(:text, "Ok") %>
<% classes = local_assigns.fetch(:class, "") %>
<% action = local_assigns.fetch(:action, "") %>
<% target = local_assigns.fetch(:target, "") %>
<% form = local_assigns.fetch(:form, "") %>
<% type = local_assigns.fetch(:type, "button") %>



<button
  type="<%= type %>"
  data-action="<%= action %>"
  data-target="<%= target %>"
  form="<%= form %>"
  class="btn btn-default waves-effect waves-light <%= classes %>"
>
  <%= text %>
</button>
