<div class="footer">
  <div class="footer-menu">

    <section>
      <div class="footer-title">Particulier</div>
      <ul>
        <li><%= link_to "Aide & F.A.Q" %></li>
        <li><%= link_to "Connexion", dashboard_bookings_path %></li>
      </ul>
    </section>

    <section>
      <div class="footer-title">Partenaire</div>
      <ul>
        <li><%= link_to "Ajouter votre bar", new_bar_path %></li>
        <li><%= link_to "Connexion", dashboard_bars_path %></li>
      </ul>
    </section>

    <section>
      <div class="footer-title">Barbnb</div>
      <ul>
        <li><%= link_to "A propos" %></li>
        <li><%= link_to "Recrutement" %></li>
      </ul>
    </section>

    <section>
      <div class="footer-title">Contact</div>
      <ul>
        <li><%= icon("fas", "phone-alt") %>01 23 45 67 89</li>
        <li><%= icon("fas", "envelope") %>contact@barbnb.com</li>
        <%= link_to do icon("fab", "facebook") end %>
        <%= link_to do icon("fab", "google-plus") end %>
        <%= link_to do icon("fab", "twitter") end %>
        <%= link_to do icon("fab", "linkedin") end %>
      </ul>
    </section>
  </div> <!-- End footer-menu -->

  <div class="footer-copyright">
    <p class="copyright">© 2020 Barbnb</p>
    <ul class="copyright-links">
      <li class="list-inline-item"><a href="#">Conditions générales d'utilisation</a></li>
      <li class="list-inline-item"><a href="#">Mentions légales</a></li>
      <li class="list-inline-item"><a href="#">Politique des cookies</a></li>
    </ul>
  </div> <!-- End footer-copyright -->
</div>
