<div class="form-component-signin">
  <div class="main-container-signin">
    <div class="col-4 offset-4 form-new my-4 p-4 shadow ">
      <div class="title-form text-center my-3">
        <h2>Sign up</h2>
      </div>
      <div class="title-form">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <div class="d-flex justify-content-between">
              <div style='width: 200px;'><%= f.input :first_name, required: true, autofocus: true %></div>
              <div style='width: 200px;'><%= f.input :last_name, required: true, autofocus: true %></div>
            </div>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <div class="d-flex">
              <%= f.label :photo, "Photo :", class:"pr-3" %>
              <%= f.input :photo, as: :file, class:"btn-primary", label: false %>
            </div>
          </div>

          <div class="form-actions d-flex justify-content-between">
            <%= f.button :submit, "Sign up" %>
            <%= render 'components/button_link', text: "Log In", link: "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
