<div data-controller="pick-date">
  <div data-controller="guest-count"
      data-guest-count-max-guest="<%= @bar.capacity %>"
      >
      <%= simple_form_for [@bar, @booking] do |f| %>
        <%= f.input :starts_at, as: :string,
                    readonly: true,
                    input_html: {
                      data: { target: "pick-date.startsAt" }
                    }
        %>
        <%= f.input :ends_at, as: :string,
                    readonly: true,
                    input_html: {
                      data: { target: "pick-date.endsAt" }
                    }
        %>
        <%= f.input :guest_number, as: :hidden,
                    readonly: true,
                    input_html: {
                      value: 2,
                      data: { target: "guest-count.countField" }
                    }
        %>
      <% end %>

      <div id="guest-count">
        <div>Nbre de participants :</div>
        <div class="count-button"
              data-action="click->guest-count#remove"
              data-target="guest-count.minus"
              >
              <%= icon("fas", "minus") %>
        </div>
        <input type="text"
                data-target="guest-count.number"
                data-action="keyup->guest-count#validateField"
                value="2"
                >
                <div class="count-button"
                    data-action="click->guest-count#add"
                    data-target="guest-count.plus"
                    >
                    <%= icon("fas", "plus") %>
                </div>
      </div>
  </div>

  <div style="visibility: collapse; position: relative;">
  <input data-controller="flatpickr"
          data-target="pick-date.date"
          data-action="change->pick-date#setTimeRange"
          data-flatpickr-min-date="<%= Time.zone.now %>"
          data-flatpickr-max-date="<%= Time.zone.now + 30.days %>"
          value="<%= Time.zone.now %>"
          type="hidden"
          >
  <div id="timers">
    <div>De</div>
    <input data-controller="flatpickr"
           data-target="pick-date.from"
           data-action="change->pick-date#setTimeRange"
           data-flatpickr-enable-time="true"
           data-flatpickr-no-calendar="true"
          value="20:00"
          id="time-from"
          >
    <div>À</div>
    <input data-controller="flatpickr"
          data-target="pick-date.to"
          data-action="change->pick-date#setTimeRange"
          data-flatpickr-enable-time="true"
          data-flatpickr-no-calendar="true"
          value="21:00"
          id="time-to"
          >
  </div>
</div>
