<div class="bar-show">
  <div class="variable-width">
    <% @bar.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 400, crop: :fit %>
    <% end %>
  </div>

  <div class="container d-flex bar-container">
    <div class="left-side d-flex flex-column">
      <div class="bar-details">
        <div class="bar-name">
          <h1><%= @bar.name %></h1>
          <%= render "average_rating", bar: @bar %>
        </div>
        <h5><%= icon("fas", "map-marker-alt") + nbspace + nbspace + @bar.address %></h5>
        <h5>
          <div>
            <%= icon("fas", "users") + nbspace %>
            <strong><%= @bar.capacity %></strong> participants maximum
          </div>
          <div>
            <%= icon("fas", "tags") + nbspace %>
            <strong><%= @bar.price.to_s + nbspace %></strong>€ par participant
          </div>
        </h5>

                    <nav>
          <div class="nav nav-tabs mt-4" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
            <a class="nav-item nav-link" id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">Évaluations</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
            <p><%= @bar.description %></p>
            <div class="d-flex">
              <p><%= render "components/button_link", text: "back", link: bars_path %></p>
              <% if @bar.owner == current_user %>
                <p><%= render "components/button_link", text: "Edit", link: edit_bar_path(@bar) %></p>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
            <div class="container reviews-container">
               <%= render "reviews" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bar-booking-container">
      <div class="bar-booking">
        <div class="bar-price"
             data-controller="total-price"
             data-action="guest_number_change@window->total-price#update"
             data-total-price-bar-price = <%= @bar.price %>
             >
          <h4>Total price: <strong><span data-target="total-price.amount"><%= @bar.price * 2 %></span>€</strong></h4>
          <div class="bar-price-details">
            <p>Prix par participant : <span data-target="total-price.barPrice"><%= @bar.price %></span>€</p>
          </div>
        </div>
        <div class="booking-form">
          <%= render "booking_form" %>
        </div>
        <%= render "components/button", text: "Réserver", type: "submit", form: "new_booking" %>
      </div>
      <div class="bar-empty"></div>
    </div>
  </div>
</div>
