<div class="bar-show">
  <div class="variable-width">
    <% @bar.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 400, crop: :fit %>
    <% end %>
  </div>

  <div class="container d-flex bar-container">
    <div class="left-side d-flex flex-column">
      <div class="bar-details">
        <div class="bar-name">
          <h1><%= @bar.name %></h1>
          <%= render "average_rating", bar: @bar %>
        </div>
        <h5><%= icon("fas", "map-marker-alt") + nbspace + nbspace + @bar.address %></h5>
        <h5>
          <div>
            <%= icon("fas", "users") + nbspace %>
            <strong><%= @bar.capacity %></strong> participants maximum
          </div>
          <div>
            <%= icon("fas", "tags") + nbspace %>
            <strong><%= @bar.price.to_s + nbspace %></strong>€ par participant
          </div>
        </h5>

        <div class="bar-description">
          <div class="tabs">
            <label for="tab-1">Description</label>
            <input id="tab-1" name="tabs-two" type="radio" checked="checked">
            <div>
              <p><%= @bar.description %></p>
            </div>
          </div>
          <div class="tabs">
            <label for="tab-2">Évaluations</label>
            <input id="tab-2" name="tabs-two" type="radio">
            <div>
              <div class="container reviews-container">
              <p><%= render "reviews" %></p>
            </div>
          </div>
        </div>

        </div>
      </div>
      </div>
        <div class="bar-booking-container">
          <div class="bar-booking">
            <div class="bar-price"
                 data-controller="total-price"
                 data-action="guest_number_change@window->total-price#update"
                 data-total-price-bar-price = <%= @bar.price %>
               >
               <h4>Total price: <strong><span data-target="total-price.amount"><%= @bar.price * 2 %></span>€</strong></h4>
               <div class="bar-price-details">
                 <p>Prix par participant : <span data-target="total-price.barPrice"><%= @bar.price %></span>€</p>
               </div>
            </div>
            <div class="booking-form">
              <%= render "booking_form" %>
            </div>
            <%= render "components/button", text: "Réserver", type: "submit", form: "new_booking" %>
          </div>
          <div class="bar-empty"></div>
        </div>
      </div>
    </div>
