<div class="bar-show">
  <div class="variable-width">
    <% @bar.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 400, crop: :fit %>
    <% end %>
  </div>

  <div class="container d-flex bar-container">
    <div class="left-side d-flex flex-column">
      <div class="bar-details">
        <h1><strong><%= @bar.name %></strong></h1>
        <h5><i class="fas fa-map-marker-alt"></i>&nbsp&nbsp<%= @bar.address %></h5>
        <h5><i class="fas fa-users"></i>&nbsp&nbspUp to <strong><%= @bar.capacity %></strong> guests</h5>
        <p>Prix par participant : <span data-target="total-price.barPrice"><%= @bar.price %></span>€</p>
        <p><%= @bar.description %></p>
        <div class="d-flex">
          <p><%= render "components/button_link", text: "back", link: bars_path %></p>
          <% if @bar.owner == current_user %>
            <p><%= render "components/button_link", text: "Edit", link: edit_bar_path(@bar) %></p>
          <% end %>
        </div>
      </div>

      <div class="container reviews-container">
        <%# <%= render "reviews" %1> %>
      </div>
    </div>

    <div class="bar-booking-container">
      <div class="bar-booking">
        <div class="bar-price"
             data-controller="total-price"
             data-action="guest_number_change@window->total-price#update"
             data-total-price-bar-price = <%= @bar.price %>
             >
          <h4>Total price: <strong><span data-target="total-price.amount"><%= @bar.price * 2 %></span>€</strong></h4>
          <div class="bar-price-details">
            <p>Prix par participant : <span data-target="total-price.barPrice"><%= @bar.price %></span>€</p>
          </div>
        </div>
        <div class="booking-form">
          <%= render "booking_form" %>
        </div>
        <%= render "components/button", text: "Réserver", type: "submit", form: "new_booking" %>
      </div>
      <div class="bar-empty"></div>
    </div>
  </div>
</div>
