<div class="bar-show">
  <div class="variable-width">
    <% @bar.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 400, crop: :fit %>
    <% end %>
  </div>

  <div class="container d-flex bar-container">
    <div class="bar-details">
      <h1><strong><%= @bar.name %></strong></h1>
      <h5><i class="fas fa-map-marker-alt"></i>&nbsp&nbsp<%= @bar.address %></h5>
      <h5><i class="fas fa-users"></i>&nbsp&nbspUp to <strong><%= @bar.capacity %></strong> guests</h5>
      <p><%= @bar.description %></p>
      <div class="button-show d-flex">
        <p><%= render "components/button_link", text: "Back", link: bars_path %></p>
        <p><%= render "components/button_link", text: "Edit", link: edit_bar_path(@bar) %></p>
      </div>
    </div>
    <div class="bar-booking-container">
      <div class="bar-booking">
        <div class="bar-price">
          <h4>Total price: <strong>550€</strong></h4>
          <div class="bar-price-details">
            <ul>
              <li>Price per guest: <%= @bar.price %>€</li>
              <li>Number of guests: 10</li>
            </ul>
          </div>
        </div>
        <div class="bar-calendar" style="background-image: url(https://p2.f0.n0.cdn.getcloudapp.com/items/bLumoymq/Image+2020-02-18+at+12.16.27+PM.png?v=9c2be9e04a00423f80cb71bef80f32da); background-size: cover"></div>
        <div class="btn btn-default waves-effect">Book</div>
      </div>
      <div class="bar-empty"></div>
    </div>
  </div>
</div>
