<%
    stimulus_data = ""
    if @bar.owner == current_user
      stimulus_data = <<-HTML
        data-controller="inline-edit"
        data-target="inline-edit.div"
        data-action="click->inline-edit#toggle click@window->inline-edit#close"
      HTML
      stimulus_data = stimulus_data.html_safe
    end
%>
<div class="bar-show">
  <div class="variable-width">
    <% @bar.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 400, crop: :fit %>
    <% end %>
  </div>

  <div class="container bar-container">
    <div class="left-side d-flex flex-column">
      <div class="bar-details">
        <div class="bar-name">
          <h1 data-inline-edit-variable="name" <%= stimulus_data %>><%= @bar.name %></h1>
          <%= render "average_rating", bar: @bar %>
        </div> <!-- End bar-name -->
        <h5><%= icon("fas", "map-marker-alt") + nbspace + nbspace + @bar.address %></h5>
        <h5>
          <div>
            <%= icon("fas", "users") + nbspace %>
            <strong><%= @bar.capacity %></strong> participants maximum

          <div>
            <%= icon("fas", "tags") + nbspace %>
            <strong><%= @bar.price.to_s + nbspace %></strong>€ par participant
          </div>
        </h5>
      </div> <!-- End bar-details -->

      <div class="bar-description">
        <div class="tabs">
          <label for="tab-1">Description</label>
          <input id="tab-1" name="tabs-two" type="radio" checked="checked">
          <div>
            <p><%= @bar.description %></p>
            <div class="d-flex">
              <%= render "components/button_link", text: "back", link: bars_path %>
              <%=
                  if  @bar.owner == current_user
                    render "components/button_link", text: "Edit", link: edit_bar_path(@bar)
                  end
              %>
            </div>
          </div>
        </div>
        <div class="tabs">
          <label for="tab-2">Évaluations</label>
          <input id="tab-2" name="tabs-two" type="radio">
          <div>
            <div class="container reviews-container">
              <p><%= render "reviews" %></p>
            </div>
          </div>
        </div>
      </div> <!-- End bar-description -->
    </div> <!-- End left-side -->

    <div class="bar-booking-container">
      <div class="bar-booking">
        <div class="bar-price"
             data-controller="total-price"
             data-action="guest_number_change@window->total-price#update"
             data-total-price-bar-price = <%= @bar.price %>
           >
           <h4>Total price: <strong><span data-target="total-price.amount"><%= @bar.price * 2 %></span>€</strong></h4>
           <div class="bar-price-details">
             <p>Prix par participant : <span data-target="total-price.barPrice"><%= @bar.price %></span>€</p>
           </div> <!-- End bar-price-details -->
        </div> <!-- End bar-price -->

        <div class="booking-form">
          <%= render "booking_form" %>
        </div> <!-- End booking-form -->
        <%= render "components/button", text: "Réserver", type: "submit", form: "new_booking" %>
      </div> <!-- End bar-booking -->

      <div class="bar-empty"></div>
    </div> <!-- End bar-booking-container -->
  </div> <!-- End container -->
</div> <!-- End bar-show -->
