<div class="add-review" data-controller="star-rating">
  <h3 class="review-form-header">It's now time to add review...</h3>
  <div class="stars" data-action="mouseleave->star-rating#showRating">

<%
    stimulus_hooks = {
      "data-target" => "star-rating.star",
      "data-action" => "click->star-rating#setRating \
                        mouseover->star-rating#chooseRating"
    }
%>

    <% 5.times do |i| %>
      <% stimulus_hooks["data-id"] = i + 1 %>
      <div class="star"><%= icon("far", "star", stimulus_hooks) %></div>
    <% end %>
  </div>

  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :content, label: false %>
    <%= f.input :rating, as: :hidden, input_html: { data: { target: "star-rating.form" } } %>
    <%= render "components/button", text: "Add a review", form: "new_review", type: "submit"%>
  <% end %>
</div>
