<div style="height: 1000px">
  <div class="home-container">
    <h2 class="text-center">Organiser une soirée entre amis n’a jamais été aussi simple</h2>
    <br>
    <div class="row">
      <div class="home-cards d-flex">
        <div class="col home-card bg-light border rounded shadow m-3 text-center">
          <%= image_tag "cocktail.png", alt: "cocktail", class:'icon cocktail-img' %>
          <h3>Une offre exhaustive</h3>
          <p>Dénichez le bar idéal pour votre événement parmi nos 778 bars partenaires</p>
        </div>
        <div class="col home-card bg-light border rounded shadow m-3 text-center">
          <%= image_tag "hourglass.png", alt: "cocktail", class:'icon hourglass-img' %>
          <h3>Une réservation simple et rapide</h3>
          <p>Réservez en quelques clics le bar de vos rêves pour votre évènement</p>
        </div>
        <div class="col home-card bg-light border rounded shadow m-3 text-center">
          <%= image_tag "money.png", alt: "cocktail", class:'icon money-img' %>
          <h3>Un service entièrement gratuit</h3>
          <p>Bénéficiez des meilleurs tarifs, sans coût supplémentaire !</p>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="top-bars-header">
    <div class="top-bars-header-img"></div>
    <h2 class="text-center">Notre top 3 des bars sur Paris</h2>
  </div>
  <div class="row top-bars-cards justify-content-center">
    <% @top_bars.each do |bar| %>
      <div class="card-bar-info col-3 m-4">
                <%= link_to bar_path(bar), class:"text-dark text-decoration-none" do %>
                  <%# bar.photos.each do |photo| %>
                    <%#= cl_image_tag photo.key.first %>
                  <%# end %>
                  <div class="card-photo" style="background-image: url(<%= cl_image_path bar.photos.first.key %>); background-size: cover; background-position: center;">
                  </div>
                  <div class="card-details">
                    <div class="card-details-item">
                      <h4><%= bar.name %></h4>
                      <div class="bar-distance"><i class="fas fa-map-marker-alt"></i> 340m</div>
                    </div>
                    <div class="card-details-item">
                      <div class="card-details-item-left">
                        <div class="bar-ratings">
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        </div>
                        <p><i class="fas fa-user-friends"></i>&nbsp&nbsp<%= bar.capacity %> max</p>
                      </div>
                      <div class="bar-price">
                        <p><%= bar.price %>€</p>
                        <p class="small">/guest</p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
    <% end %>
  </div>
</div>
